
{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


    <!-- 
    <section id="slider">
        <div class="flexslider main-slider">
            <ul class="slides">
                <li>
                    <div class="container">
                        <div class="slider-info">
                            <div class="inner">
                                <h1>Установка  окон не дорого</h1>
                                <div class="slider-text">
                                    Мы устанавливаем окна не дорого 
    
                                </div>
                                <a class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <img src="{% static 'img/slider-home/1.jpg' %}" alt="">
                </li>
                <li>
                    <div class="container">
                        <div class="slider-info">
                            <div class="inner">
                                <h1>Замер бесплатно</h1>
                                <div class="slider-text">
                                    Наши специалисты проводят замер бесплатно
                                </div>
                                <a class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <img src="{% static 'img/slider-home/3.jpg' %}" alt="">
                </li>
            </ul>
        </div>
    </section>
    -->

    <div class="clearfix"></div>


    <!-- content begin -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="text-title">
                    <h2>Наши приимущества</h2>
                    <div>С нами выгодно иметь дело</div>
                </div>

                <div class="span4">
                    <div class="featured-box">
                        <i class="icon-ok icon-4x"></i>
                        <div class="text">
                            <h3>Гарантия 10 лет</h3>
                            
                                Исключительно немецкое качество марки профиля REHAU Надежная фурнитура от мирового концерна Siegenia-Aubi
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="featured-box">
                        <i class="icon-calendar icon-4x"></i>
                        <div class="text">
                            <h3>Быстрый срок изготовления</h3>
                            Мы делаем окна в короткие сроки тяп-ляп
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="featured-box">
                        <i class="icon-credit-card icon-4x"></i>
                        <div class="text">
                            <h3>Рассрочка платежа</h3>
                            Мы предоставляем рассрочку до 10 месяцев
                        </div>
                    </div>
                </div>

            </div>



            </div>
            
            <!-- paralax background -->
            <section id="ourservice-parallax-bg" data-speed="5" data-type="background">
                <div class="container">
                <div class="row">
                <div class="text-title">
                    <h2>Виды услуг</h2>
                    <div>Тут параграф</div>
                </div>

                <!-- ourservice item begin -->
                <div class="span3 ourservice-item">
                    <a class="preview" href="{% static 'img/ourservice/1.jpg' %} " data-gal="prettyPhoto" title="Описание">
                        <img data-original="{% static 'img/ourservice/1.jpg' %}" src="img/blank-1.gif" alt="" class="img-hover"></a>
                    <div class="text">
                        <h4><a href="css/index.html#">Окна</a></h4>
                        <div class="teaser">
                            Установка пластиковых окон
                        </div>
                        <div class="price">
                            от 10 000 р.
                        </div>
                    </div>
                </div>
                <!-- ourservice item close -->

                <!-- ourservice item begin -->
                <div class="span3 ourservice-item">
                    <a class="preview" href="{% static 'img/ourservice/2.jpg' %}" data-gal="prettyPhoto" title="Описание">
                        <img data-original="{% static 'img/ourservice/2.jpg' %}" src="img/blank-1.gif" alt="" class="img-hover"></a>
                    <div class="text">
                        <h4><a href="css/index.html#">Жалюзи</a></h4>
                        <div class="teaser">
                            Изготовление жалюзей под размер окно
                        </div>
                        <div class="price">
                            от 3 000 р.
                        </div>
                    </div>
                </div>
                <!-- ourservice item close -->

                <!-- ourservice item begin -->
                <div class="span3 ourservice-item">
                    <a class="preview" href="{% static 'img/ourservice/3.jpg' %}" data-gal="prettyPhoto" title="Описание">
                        <img data-original="{% static 'img/ourservice/3.jpg' %}" src="img/blank-1.gif" alt="" class="img-hover"></a>
                    <div class="text">
                        <h4><a href="css/index.html#">Потолки</a></h4>
                        <div class="teaser">
                            Так же мы занимаемся потолками
                        </div>
                        <div class="price">
                            от 20 000 р.
                        </div>
                    </div>
                </div>
                <!-- ourservice item close -->

                <!-- ourservice item begin -->
                <div class="span3 ourservice-item">
                    <a class="preview" href="{% static 'img/ourservice/4.jpg' %}" data-gal="prettyPhoto" title="Описание">
                        <img data-original="{% static 'img/ourservice/4.jpg' %}" src="img/blank-1.gif" alt="" class="img-hover"></a>
                    <div class="text">
                        <h4><a href="css/index.html#">Выезд специалистов для замера</a></h4>
                        <div class="teaser">
                            Наши специалисты сделают замеры
                        </div>
                        <div class="price">
                           Бесплатно
                        </div>
                    </div>
                </div>
                <!-- ourservice item close -->

            </div>
            </div>
            </section>
            
            
            <div class="container">


            <div class="row">
                <div class="span6">
                    <div class="text-title">
                        <h2>Новости</h2>
                        <div>Самые свежие новости</div>
                    </div>
                    {% for new in news %}
                    <ul class="bloglist-small">
                        <li>
                            <div class="date-box">
                                <span class="day">{{ new.date_time|date:"d" }}</span>
                                <span class="month">{{ new.date_time|date:"M" }}</span>
                            </div>
                            <div class="txt">
                                <h4><a href="css/index.html#">{{ new.title }}</a></h4>
                                <span class="read">{{new.body|truncatechars:50}} <a href="#">Подробнее</a></span>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="span6">
                    <div class="text-title">
                        <h2>Последние работы</h2>
                        <div>Описание последних готовых работы компании</div>
                    </div>

                    <ul class="ourservice-list-2">
                        {% for image in images %}
                        <li>
                            <a class="preview" href="{{MEDIA_URL}}{{image.image}}" data-gal="prettyPhoto" title="Описание">
                                <img data-original="{{MEDIA_URL}}{{image.image}}" src="{{MEDIA}}{{image.image}}" class="img-polaroid img-hover" alt=""></a>
                            <div class="text">
                                <h4>{{image.name}}</h4>
                                {{image.description}}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </div>
    <!-- content close -->
	
{% endblock %}