{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}


    <!-- subheader begin -->
    <div id="subheader">
        <h1>Наши работы</h1>
    </div>
    <!-- subheader close -->

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul id="filters">
                       <!-- <li><a href="#" data-filter=".promotion">Запас</a></li> -->
                    </ul>

                </div>
            </div>
            <div class="row">
                <div id="gallery" class="gallery">

                    <!-- <h4>Изображение проекта окон -->
                    {% for images in object_list %}
                    <div class="span3 item event">
                        <a class="preview" href="{{images.image}}" data-gal="prettyPhoto" title="{{images.description}}">
                            <img src="{% static 'img/pic-blank-1.gif' %}" data-original="{{images.image}}" alt="">
                        </a>
                        <h4>{{images.name}}</h4>
                        <span>{{images.pub_date}}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}