{% extends 'base.html' %}
{% block content %}
	<div id="subheader">
        <h1>Описание новости</h1>
    </div>
    <!-- subheader close -->

    <!-- content begin -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="blog-list">
                        <li>
                            <div class="info">
                                <div class="date-box">
                                    <span class="day">{{news.date_time|date:'d'}}</span>
                                    <span class="month">{{news.date_time|date:'M'}}</span>
                                </div>
                            </div>
                            <div class="preview">
                                <img src="img/pic-blank-1.gif" data-original="{{MEDIA_URL}}{{news.image}}" alt="" />
                                
                                    <h3 class="blog-title">{{news.title}}</h3>
                                {{news.body}}
                            </div>
                            <div class="meta-info">От <a href="#">{{news.author}}</a><span>|</span>Дата публикации: <em>{{news.published_date|date:'d.M.Y'}} год</em> | <em>Категория: </em></span><a href="{{news.category.get_absolute_url}}">{{news.category}}</a><span>|</span> </div>
                        </li>
             

                    </ul>
                </div>

                <div id="sidebar" class="span4">

                    <div class="widget latest_news">
                        <h4 class="title">Последние новости</h4>
                        <ul class="bloglist-small">
                        {% for news in new %}
                            <li>
                                <div class="date-box">
                                    <span class="day">{{news.date_time|date:'d'}}</span>
                                    <span class="month">{{news.date_time|date:'M'}}</span>
                                </div>
                                <div class="txt">
                                    <h5><a href="{{new.get_absolute_url}}">{{news.title}}</a></h5>
                                    <div>
                                        <div>{{news.body|truncatechars:50}} </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- widget category -->
                    <div class="widget widget_category">
                        <h4 class="title"><span>Категории</span></h4>
                        <ul>
                        {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}"><i class="icon-folder-close"></i>{{category.name}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}