{% extends 'base.html' %}

{% block content %}
<div id="subheader">
        <h1>Новости компании</h1>
    </div>
    <!-- subheader close -->

    <!-- content begin -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="blog-list">
                        <li>
                        {% for news in object_list %}
                            <div class="info">
                                <div class="date-box">
                                    <span class="day">{{news.date_time|date:'d'}}</span>
                                    <span class="month">{{news.date_time|date:'M'}}</span>
                                </div>
                            </div>
                            <div class="preview">
                                <img src="img/pic-blank-1.gif" data-original="{{MEDIA_URL}}{{news.image}}" alt="" />
                                <a href="{{news.get_absolute_url }}">
                                    <h3 class="blog-title">{{news.title}}</h3>
                                </a>{{news.body|truncatechars:300}}
                            </div>
                            <div class="meta-info">От <a href="#">{{news.author}}</a><span>|</span>Дата публикации: <em>{{news.published_date|date:'d.M.Y'}} год</em><span></span> </div>
                        </li>
                        {% endfor %}

                    </ul>

                    <div class="pagination text-center ">
                    {% if is_paginated %}
                        <ul>
                        {% if page_obj.has_previous %}

                         
                            <li><a href="?page={{ page_obj.previous_page_number}}">Пред.</a></li>
                        {% else %}
                            <li class="disabled"><span>Пред</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        	{% if page_obj.number == i %}
                        		<li class="active"><a href="#">{{i}}</a></li>
                        	{% else %}
                            	<li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        	<li><a href="?page={{ page_obj.next_page_number }}">След.</a></li>
    					
    					
    					{% endif %}
                            
                        </ul>
                    {% endif %}
                    </div>
                </div>

                <div id="sidebar" class="span4">

                    <div class="widget latest_news">
                        <h4 class="title">Последние новости</h4>
                        <ul class="bloglist-small">
                        {% for new in news %}
                            <li>
                                <div class="date-box">
                                    <span class="day">{{new.date_time|date:'d'}}</span>
                                    <span class="month">{{new.date_time|date:'M'}}</span>
                                </div>
                                <div class="txt">
                                    <h5><a href="{{new.get_absolute_url}}">{{new.title}}</a></h5>
                                    <div>
                                        <div>{{new.body|truncatechars:50}} </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}