{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- subheader begin -->
    <div id="subheader">
        <h1>Контакты</h1>
    </div>
    <!-- subheader close -->

    <div id="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60424.41706979944!2d37.61154170399259!3d55.74919347969923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1443187015472" width="100%" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <!-- content begin -->
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="contact_form_holder">
                        <form id="contact" class="row" name="form1" method="post" action="#">{% csrf_token %}
                        	<div class="span4">
                            	   {{ form.non_field_errors }}
                                <div>
                                  <label for="id_subject">Тема:</label>
                                  {{ form.name.errors }}
                                  {{ form.name }}
                                </div>
                                <div>
                                  <label for="id_sender">Телефон для связи:</label>
                                  {{ form.number.errors }}
                                  {{ form.number }}
                                </div>
                                <div>
                                  <label for="id_message">Когда вам позвонить:</label>
                                  {{ form.date.errors }}
                                  {{ form.date }}
                                </div>
                                <div>
                                  {{ form.copy.errors }}
                                  <label for="id_copy">Отправить копию себе {{ form.copy }}</label>
                                </div>
                            	<p id="btnsubmit">
                                    <input type="submit" id="send" value="Отправить" class="btn btn-large" /></p>
                         	</div>
                        </form>
                    </div>

                </div>

                <div id="sidebar" class="span4">
                    <div class="widget widget-opening-hours">
                        <h4 class="title"><span>Время работы</span></h4>
                        <ul class="opening-hours">
                            <li><span class="op-days">Понедельник - Пятница</span><span class="op-time">08:00 - 17:00</span></li>
                            <li><span class="op-days">Выходные</span><span class="op-time">10:00 - 15:00</span></li>
                        </ul>
                    </div>

                    <div class="widget widget-text">
                        <h4 class="title"><span>Мы находимся</span></h4>
                        <address>
                            Мордовия, Инсар, ул. Красноармейская д 3 кв. 15
                        <span><strong>Тел.:</strong>111-111-111</span>
                            <span><strong>Fax:</strong>111-111-111</span>
                            <span><strong>Email:</strong><a href="mailto:mail@mail.com">mail@mail.com</a></span>
                            </span>
                        </address>

                        <div class="social-icons">
                            <a href="#">
                                <img src="{% static 'img/social-icons/facebook.png' %}" alt="" /></a>
                            <a href="#">
                                <img src="{% static 'img/social-icons/twitter.png' %}" alt="" /></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
