{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}


    <!-- subheader begin -->
    <div id="subheader">
        <h1>Ваше сообщение отправлено!</h1>
    </div>
    <!-- subheader close -->

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul id="filters">
                    </ul>

                </div>
            </div>
            <div class="row">
                <div id="gallery" class="gallery">
                <h3>Ваше сообщение отправлено!</h3>
                <p>Спасибо ваше сообщение отправленно нам, в ближайшее время мы с вами свяжемся</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}